<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="sparrdrem_downloaderFrame">
		<title>SparrDrem Downloader</title>
		<centered>1</centered>
		<icon>/home/tm2048/codeblocks/sparrdrem-downloader/sparrdrem-downloader.ico</icon>
		<size>444,218</size>
		<id_arg>0</id_arg>
		<handler function="OnClose" entry="EVT_CLOSE" />
		<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
			<pos>64,64</pos>
			<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
				<cols>2</cols>
				<object class="sizeritem">
					<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
						<label>Project:</label>
						<size>131,17</size>
					</object>
					<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
					<border>5</border>
					<option>1</option>
				</object>
				<object class="sizeritem">
					<object class="wxChoice" name="ID_PROJECTCOMBOBOX" variable="projectComboBox" member="yes">
						<content>
							<item>casmOS (-= Pre-release =-)</item>
							<item>CD-OSK (-= Pre-release =-)</item>
							<item>Commodore OS Vision II</item>
							<item>DremDOS (-= Pre-release =-)</item>
							<item>DremOS</item>
							<item>DTools</item>
							<item>GBAUnix (-= Pre-release =-)</item>
							<item>Gencode (-= Pre-release =-)</item>
							<item>Gossamer Launcher (-= Pre-release =-)</item>
							<item>HOSTNAME</item>
							<item>LALO (-= Archived =-)</item>
							<item>OTN</item>
							<item>Sam&amp;Yoe Group: The Video Game</item>
							<item>SparrOS (-= Pre-release =-)</item>
							<item>UPTIME (-= Pre-release =-)</item>
							<item>Windows 9 Downloader</item>
							<item>Yoe&apos;s Cheat Database (-= Pre-release =-)</item>
						</content>
						<size>287,31</size>
					</object>
					<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
					<border>5</border>
					<option>1</option>
				</object>
				<object class="sizeritem">
					<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
						<label>Version:</label>
						<size>131,17</size>
					</object>
					<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
					<border>5</border>
					<option>1</option>
				</object>
				<object class="sizeritem">
					<object class="wxChoice" name="ID_VERSIONCOMBOBOX" variable="versionComboBox" member="yes">
						<size>287,31</size>
						<enabled>0</enabled>
					</object>
					<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
					<border>5</border>
					<option>1</option>
				</object>
				<object class="sizeritem">
					<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
						<label>Architecture Type:</label>
						<size>131,17</size>
					</object>
					<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
					<border>5</border>
					<option>1</option>
				</object>
				<object class="sizeritem">
					<object class="wxChoice" name="ID_CHOICE1" variable="Choice1" member="yes">
						<size>287,31</size>
					</object>
					<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
					<border>5</border>
					<option>1</option>
				</object>
				<object class="sizeritem">
					<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText4" member="yes">
						<label>Language:</label>
						<size>131,17</size>
					</object>
					<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
					<border>5</border>
					<option>1</option>
				</object>
				<object class="sizeritem">
					<object class="wxChoice" name="ID_CHOICE2" variable="Choice2" member="yes">
						<size>287,31</size>
					</object>
					<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
					<border>5</border>
					<option>1</option>
				</object>
				<object class="sizeritem">
					<object class="wxButton" name="ID_BUTTON2" variable="Button2" member="yes">
						<label>&amp;Download</label>
						<size>131,29</size>
					</object>
					<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
					<border>5</border>
					<option>1</option>
				</object>
				<object class="sizeritem">
					<object class="wxButton" name="ID_BUTTON1" variable="Button1" member="yes">
						<label>&amp;Manage Files</label>
						<size>287,29</size>
					</object>
					<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
					<border>5</border>
					<option>1</option>
				</object>
			</object>
		</object>
		<object class="wxMenuBar" variable="MenuBar1" member="no">
			<object class="wxMenu" variable="Menu1" member="no">
				<label>&amp;File</label>
				<object class="wxMenuItem" name="ID_MENUITEM1" variable="MenuItem1" member="no">
					<label>E&amp;xit</label>
					<accel>Alt-F4</accel>
					<help>Quit the application</help>
					<handler function="OnQuit" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="Menu2" member="no">
				<label>Help</label>
				<object class="wxMenuItem" name="idMenuAbout" variable="MenuItem2" member="no">
					<label>&amp;About</label>
					<accel>F1</accel>
					<help>Show info about this application</help>
					<handler function="OnAbout" entry="EVT_MENU" />
				</object>
			</object>
		</object>
	</object>
</wxsmith>
